/* div:where(.swal2-container).swal2-backdrop-show, div:where(.swal2-container).swal2-noanimation {
	background: rgba(13, 184, 166, 0.4) !important;
} */


div:where(.swal2-container).swal2-backdrop-show, div:where(.swal2-container).swal2-noanimation {
	--tw-backdrop-blur: blur(4px) !important;
	-webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
	backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}


div:where(.swal2-container) div:where(.swal2-popup) {
	display: none;
	position: relative;
	box-sizing: border-box;
    grid-template-columns: minmax(0, 100%);
	width: 32em;
    max-width: 100%;
	padding: 0 0 1.25em;
    border: none;
	border-radius: 5px;
	background: #fff;
	color: #545454;
	font-family: inherit;
	font-size: 1rem;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;


    --tw-backdrop-blur: blur(4px) !important;
	-webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
	backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}
